<template name="Home">

<div id="intro">

    <section class="row">
        <div class="col-md-4 col-md-offset-1 text-center block">
            <h2>Parents / Students</h2>
            <div style="margin:20px"></div>
            <p>Register and Post Jobs to find Tutors for FREE!</p>
            <p>You can also browse through our database of hundreds of tutors to find the right one for your needs!</p>
            <div style="margin:30px"></div>
            <a href="{{pathFor 'post_job'}}" class="btn btn-primary">Post Jobs</a>
        </div>

        <div class="col-md-4 col-md-offset-2 text-center block">
            <h2>Tutors</h2>
            <div style="margin:20px"></div>
            <p>Register as a Tutor to get found by parents and students!</p>
            <p>Search through hundreds of jobs and recommend yourself, find tutor jobs easily and make more money!</p>
            <div style="margin:30px"></div>
            <a href="/sign-in" class="btn btn-primary">Register as Tutor</a>
        </div>
    </section>

</div>

</template>
